{{#each newMembers}}
	<img src={{ imageSrc }} style="height: 150px; width 150px;">
	<h3>{{ firstName }} {{ lastName  }}</h3>
	<div>I'm looking to meet a <b>{{ lookingFor }}</b> near <b>{{ park }}</b></div>
	<div>My Interests</div>
	<div>-{{ interests }}</div>
{{/each}}